name: 'Test Lib'

on:
  pull_request:
  push:
    branches:
      - main
  workflow_call:

permissions:
  checks: write

jobs:
  unitTest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            ~/.gradle/jdks
          key: gradle-caches-unit-test-v0-${{ hashFiles('gradle/libs.versions.toml', 'build.gradle.kts', 'settings.gradle.kts', 'gradle/wrapper/gradle-wrapper.properties') }}

      - name: Run jvm unit tests
        run: ./gradlew jvmTest

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: success() || failure()
        with:
          check_name: Unit Test Report
          report_paths: 'build/test-results/jvmTest/TEST-*.xml'

  compile-supported-targets:
    runs-on: macos-latest
    strategy:
      matrix:
        target: [jvm, iosX64, iosArm64, macosX64, macosArm64, linuxX64, linuxArm64, mingwX64]
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Compile target
        run: ./gradlew compileKotlin${{ matrix.target }}